/*normolize defaults styles for correct displaying*/ * {margin: 0; box-sizing: border-box; } body, html {scroll-behavior: smooth; -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.1); height: 100%; margin: 0; font-family: 'Montserrat', sans-serif; font-weight: 400; background: #fff; font-style: normal !important; font-size: 14px; background-color: #fff; } a {text-decoration: none } a, button:focus, input {outline: 0 } html {line-height: 1.15; -webkit-text-size-adjust: 100% } body {margin: 0 } main {display: block } h1 {font-size: 2em; } hr {box-sizing: content-box; height: 0; overflow: visible } pre {font-family: monospace, monospace; font-size: 1em } a {background-color: transparent } abbr[title] {border-bottom: none; text-decoration: underline; text-decoration: underline dotted } b, strong {font-weight: bolder } code, kbd, samp {font-family: monospace, monospace; font-size: 1em } small {font-size: 80% } sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline } sub {bottom: -.25em } sup {top: -.5em } img {border-style: none } button, input, optgroup, select, textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0 } button, input {overflow: visible } button, select {text-transform: none } [type=button], [type=reset], [type=submit], button {-webkit-appearance: button } [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {border-style: none; padding: 0 } [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {outline: 1px dotted ButtonText } fieldset {padding: .35em .75em .625em } legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal } progress {vertical-align: baseline } textarea {overflow: auto } [type=checkbox], [type=radio] {box-sizing: border-box; padding: 0 } [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {height: auto } [type=search] {-webkit-appearance: textfield; outline-offset: -2px } [type=search]::-webkit-search-decoration {-webkit-appearance: none } ::-webkit-file-upload-button {-webkit-appearance: button; font: inherit } details {display: block } summary {display: list-item } template {display: none } [hidden] {display: none } /*normolize defaults styles for correct displaying*/


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.voxiom {

	width: 500px;
	height: auto;
	background: #fff;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}



.google-font-link {

	color: #041C40;
	font-size: 18px;
	font-weight: 700;

}


.btn {

	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #041C40;
	border-radius: 0.6em;
	color: #041C40;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	transition: .3s;

}

.btn:hover,
.btn:focus {

	color: #000;
	outline: 0;

}


.fourth {

	border-color: #041C40;
	color: #000;
	background-image: linear-gradient(45deg, #041C40 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 300ms ease-in-out;
	transition: .3s;

}

.fourth:hover {

	background-position: 0;
	color: #fff;

}


.def-input {

	width: 300px;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid #041C40;
	border-radius: 0.6em;
	color: #041C40;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;

}


.switch input {
	display: none;
}

.switch {
	display: inline-block;
	width: 60px;
	height: 30px;
	margin: 4px;
	position: relative;
}

.switch .toggle-slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 30px;
	box-shadow: 0 0 0 2px #041C40, 0 0 4px #041C40;
	cursor: pointer;
	border: 4px solid transparent;
	overflow: hidden;
	transition: 0.2s;
}

.toggle-slider:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #041C40;
	border-radius: 30px;
	transform: translateX(-30px);
	/*translateX(-(w-h))*/
	transition: 0.2s;
}

.switch input:checked+.toggle-slider:before {
	transform: translateX(30px);
	background-color: limeGreen;
}

.switch input:checked+.toggle-slider {
	box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
}


.voxiom__switch{

	display: flex;
	align-items: center;

}


.voxiom__switch-title{
	color: #041C40;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 22px;
	margin-right: 15px;

}





.voxiom__windows{

	width: 100%;
	height: auto;
	min-height: max-content;
	overflow: hidden;
	position: relative;

}


.go-back{

	position: absolute;
	top: 15px;
	left: 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;	
	z-index: 9;

}

.voxiom__window{

	width: 100%;
	height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	transform: translateX(-100%);
	transition: transform .3s;

}



.voxiom__window.active{
	height: auto;
	transform: translateX(0);

}


.voxiom__window-title {

	text-align: center;
	color: #041C40;
	font-size: 32px;
	font-weight: 700;

}

.voxiom__window-subtitle {

	text-align: center;
	color: #041C40;
	font-size: 24px;
	font-weight: 700;
	margin-top: 10px;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: #041C40;
	transition: .3s;

}

.voxiom__window-subtitle:hover{

	text-decoration-color: limegreen;

}



.voxiom__window-content{

	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

}



.voxiom__controls{

	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	border:  2px solid #041C40;
	border-radius: 30px;
	padding: 10px;
	z-index: 9;

}


.voxiom__control-btn{

	background: none;
	border: none;
	outline: none;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	position: relative;
	cursor: pointer;

}


.voxiom__control-btn:last-child{

	margin-right: 0;

}



.voxiom__control-btn svg{

	width: 100%;
	height: 100%;

}

.voxiom__control-btn svg *{

	transition: .3s;

}


.voxiom__control-btn.accept-btn:hover svg *{

	fill: limeGreen;

}

.voxiom__control-btn.clear-btn:hover svg *{

	fill: red;

}

.voxiom__control-btn.reset-btn:hover svg *{

	fill: red;

}

.voxiom__control-btn.back-btn:hover svg *{

	fill: limeGreen;

}







.developer {

    display: flex;
    flex-direction: column;
    margin-top: 30px;

}


.developer-title{

    text-align: center;
    color: #041C40;
    font-size: 20px;
    font-weight: 500;

}

.social-title {
    text-align: center;
    color: #041C40;
    font-size: 18px;
    font-weight: 500;
}

.social-nickname {
    text-align: center;
    color: #041C40;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    transition: .3s;
}


.social-nickname:hover{

	color: limegreen;

}


.social {
    display: flex;
    align-items: center;
}




.update-font-style {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;

}


.update-font-style:last-child{

	margin-bottom: 0;

}


.font-element-title{

    text-align: center;
    color: #041C40;
    font-size: 18px;
    font-weight: 700;	

}


.update-font-style input {

    width: 55px;
    margin-left: 20px;

}

.fonts-wrapper {

    width: 100%;

}


.fonts-wrapper svg{

	width: 20px;
	height: 20px;

}


.fonts-wrapper .voxiom__control-btn{

	width: 20px;
	height: 20px;

}












